body {
  font-family: 'Fredoka', sans-serif;
}

/*Topo*/
.secao-topo {
  border-bottom: 1px solid #d5d5d5;
  display: inline;

}

.secao-lagura-limitada {
  width: 800px;
  margin: 0 auto;
}

#secao-topo {
  padding: 20px;
  font-size: 22px;
  font-weight: bold;
  margin-left: 5%;
}

.navegacao {
  display: flex;
  justify-content: center;
  background-color: #d5d5d5;
}
.navegacao li{
  float: left;
}

.navegacao a{
  display: block;
  font-size: 25px;
  padding: 8px;
  color: #000;
  text-align: center;
  font-style: italic;
}

.navegacao li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration : none;
}

/*Seção inicial com imagem de fundo*/
.secao-background-capa{
  min-height: 500px;
  background-image: url(../img/capa.jpg);
  background-size: cover;
}

.secao-background-conteudo {
  font-size: 36px;
  text-align: right;
  padding: 50px 20px;
  margin-right: 10% ;
}

/*Seção Conteúdo*/

h3 {
  font-weight: bold;
}
.secao-conteudo {
  padding : 50px 20px;
}

.img-conteudo{
  padding-top: 5%;
  width: 200px;
  height: 180px;
}

.secao-conteudo .texto-destaque {
  border-left: 1px solid ;
  padding-left: 10px;
  font-size: 20px;
}
/* Seção com imagem de fundo e texto */
.secao-background-divisao {
  padding: 50px 0;
  text-align: center;
  background-image: url('../img/fundo.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.secao-background-divisao h3{
  font-size: 36px;
  background-color: #fff;
  width: 200px;
  margin: 0 auto;
  border-radius: 20px;
}

.secao-background-divisao p{
font-size: 18px;

}
.subtitulo {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 15px;
}

.lista-serviços  {
font-size: 18px;
padding: 10px;
list-style: disc;
}

.informacao-contato {
  padding: 5%;
  color: #000;
text-align:center;
}

.contato {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 0.5rem;
}

